<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- 부트스트랩 CSS 링크 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <!-- 카테고리 선택 링크 -->
<!--    <div class="btn-group" role="group" aria-label="Basic example">-->
<!--        <a href="/question/list" class="btn btn-secondary category-link" data-category="">전체</a>-->
<!--        <a href="/question/list?category=한식" class="btn btn-secondary category-link" data-category="한식">한식</a>-->
<!--        <a href="/question/list?category=중식" class="btn btn-secondary category-link" data-category="중식">중식</a>-->
<!--        <a href="/question/list?category=양식" class="btn btn-secondary category-link" data-category="양식">양식</a>-->
<!--        &lt;!&ndash; 추가적인 카테고리 옵션들을 필요에 따라 추가 &ndash;&gt;-->
<!--    </div>-->
</div>

<!-- 부트스트랩 자바스크립트 링크 (부트스트랩 사용을 위해 필요) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-7QipNf7F7AocExyK4RxapWYfLGyUsWscC+6+5Gt8D8a1qfy1pvdJLrZbfak+IhyS"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-pzD4SoYHQKO3W0ERDAVFkzrV5BqIhqEzYhLg+2aX6zIh/P8IlUKyWdhdEJAJLvHA"
        crossorigin="anonymous"></script>
<script>
    // 카테고리 선택 링크 클릭 시
    document.querySelectorAll('.category-link').forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault(); // 링크의 기본 동작 방지

            const category = link.dataset.category; // 선택된 카테고리 값

            // 선택된 카테고리 페이지로 이동
            window.location.href = `/question/list?category=${category}`;
        });
    });
</script>
</body>
</html>
