<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">홈</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
                </li>
            </ul>
            <a class="nav-link text-dark" th:href="@{|/question/list?category=한식|}">한식</a>
            <a class="nav-link text-dark" th:href="@{|/question/list?category=중식|}">중식</a>
            <a class="nav-link text-dark" th:href="@{|/question/list?category=양식|}">양식</a>
            <!-- 새로운 셀렉트 박스 추가 -->
            <select class="form-select form-select-sm border-0" aria-label=".form-select-sm example" onchange="if(this.value) window.location.href=this.value;" style="appearance: none;">
                <option selected>기타</option>
                <option value="http://localhost:8010/user/tempPassword">아이디,비번 찾기</option>
                <option value="http://localhost:8010/user/modify">개인정보 수정</option>
                <option value="http://localhost:8010/user/profile">프로필</option>
                <option value="http://localhost:8010/test">test</option>
            </select>
        </div>
    </div>
</nav>