<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <!-- 카테고리 선택 링크 -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/question/list" class="btn btn-secondary category-link mx-2" data-category="">전체</a>
                    <a href="/question/list?category=한식" class="btn btn-secondary category-link mx-2" data-category="한식">한식</a>
                    <a href="/question/list?category=중식" class="btn btn-secondary category-link mx-2" data-category="중식">중식</a>
                    <a href="/question/list?category=양식" class="btn btn-secondary category-link mx-2" data-category="양식">양식</a>
                    <a href="/question/list?category=디저트" class="btn btn-secondary category-link mx-2" data-category="디저트">디저트</a>
                    <!-- 추가적인 카테고리 옵션들을 필요에 따라 추가 -->
                </div>
            </div>
            <div class="col">
                <form th:action="@{/question/list}" method="get" class="form-inline">
                    <input type="text" name="searchKeyword" class="form-control mr-2">
                    <button type="submit" class="btn btn-dark">검색</button>
                </form>
            </div>
        </div>
    </div>


    <!-- 리스트 표시 -->
    <div id="question-list">
        <!-- 자바스크립트로 필터링된 결과가 여기에 동적으로 추가됩니다. -->

        <table class="table">
            <thead class="table-dark">
            <tr>

            </tr>
            </thead>
            <tbody>
            <tr th:each="question, loop : ${paging}">
                <td th:text="${loop.count}"></td>
                <td>
                    <div th:if="${not #lists.isEmpty(question.images)}" style="display: flex; align-items: center;">
                        <div>
                            <a th:href="@{|/question/detail/${question.id}|}">
                            <img th:src="@{|/file/${question.images[0]}|}" alt="사진" style="max-width: 300px; max-height: 200px;">
                            </a>
                        </div>
                        <div>
                            <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                            <div th:text="${question.shopName}" style="margin-top: 5px;"></div>
                            <div th:text="${question.foodType}" style="margin-top: 5px;"></div>
                            <span class="text-danger small ms-2"
                                  th:if="${#lists.size(question.reviewList) > 0}"
                                  th:text="${#lists.size(question.reviewList)}">
            </span>
                        </div>
                    </div>
                </td>

                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|?page=${paging.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item bg-dark">
                    <a th:text="${page}" class="page-link text-dark" th:href="@{|?page=${page}|}"></a>
                </li>

                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
    </div>
    <a th:href="@{/question/create}" class="btn btn-dark">가게 등록하기</a>

</div>

<script>
    // 카테고리 선택 링크 클릭 시
    document.querySelectorAll('.category-link').forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault(); // 링크의 기본 동작 방지

            const category = link.dataset.category; // 선택된 카테고리 값

            // 선택된 카테고리 페이지로 이동
            window.location.href = `/question/list?category=${category}`;
        });
    });
</script>
<a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
</body>
</html>