<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Form</title>
</head>
<body>
<h1>Question Form</h1>
<form action="/question/createMultipleImages" method="post" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <label for="images">Images:</label><br>
    <input type="file" id="images" name="images" multiple><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>
