<div layout:fragment="content" class="container my-3" style="padding:205px;">

    <form id="myForm" th:action="@{/member/tempPassword}" th:object="${emailForm}" method="post">

        <div class="mb-3">
            <label for="email" class="form-label">이메일 입력칸</label>
            <input type="text" name="email" id="email" class="form-control">
            <br>
            <input type="submit" class="btn btn-primary my-2" th:formaction="@{/user/findId}" value="아이디">
            <input type="submit" class="btn btn-primary my-2" th:formaction="@{/user/tempPassword}" value="임시번호 발송">
        </div>
    </form>
    <div th:if="${idFound}">
        <p>아이디: <span th:text="${id}"></span></p>
    </div>
</div>