<div layout:fragment="content" class="container my-3" style="padding:205px;">
    <h2>아이디/비밀번호 찾기</h2>
    <form id="myForm" th:action="@{/member/tempPassword}" th:object="${emailForm}" method="post">

        <div class="mb-3">
            <label for="email" class="form-label">이메일 입력</label>
            <input type="text" name="email" id="email" class="form-control">
            <br>
            <input type="submit" class="btn btn-primary" th:formaction="@{/user/findId}" value="아이디 찾기">
            <input type="submit" class="btn btn-primary" th:formaction="@{/member/tempPassword}" value="임시 비밀번호 발송">
        </div>
    </form>
    <div th:if="${idFound}">
        <p>찾은 아이디: <span th:text="${id}"></span></p>
    </div>
</div>