<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* 추가적인 스타일은 여기에 추가하세요 */
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            overflow-x: auto;
        }
        .content-wrapper {
            max-width: 1000px; /* 내용의 최대 너비를 지정하세요 */
            width: 100%;
            padding: 0 20px; /* 내용의 좌우 여백을 지정하세요 */
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container my-3">

    <form id="myForm" th:action="@{/member/tempPassword}" th:object="${emailForm}" method="post">

        <div class="mb-3">
            <label for="email" class="form-label">이메일 입력칸</label>
            <input type="text" name="email" id="email" class="form-control">
            <br>
            <input type="submit" class="btn btn-dark" th:formaction="@{/user/findId}" value="아이디">
            <input type="submit" class="btn btn-dark" th:formaction="@{/user/tempPassword}" value="임시번호 발송">
        </div>
    </form>
    <div th:if="${idFound}">
        <p>아이디: <span th:text="${id}"></span></p>
    </div>
</div>
</body>
</html>